h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}

ul,ol {
    list-style: none;
}

ul,ol {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    background-color: blueviolet;
}

/* @media (min-width: 400px) {
    body {
        background-color: chartreuse;
    }

}
    
@media (min-width: 768px) {
    body {
        background-color: royalblue;
    }

}
     */

     @media (max-width: 768px) {
        body {
            background-color: aqua;
        }
     }


     @media (max-width: 400px) {
        body {
            background-color: rgb(24, 27, 27);
        }
     }
     