
ul li {
    list-style: none;
    
}

li {
    margin-bottom: 30px;
    justify-content: center;
}

.container {
   width: 1158px;
   margin: 0 auto;
}

.vasya {
    padding-left: 0;
}

input {
    padding: 8px;
    
}
  
label {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

textarea {
    resize: none;
}

.size {
    display: block;
    margin-top: 60px;
}

.month {
    margin-top: 60px;
}